<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <activity
      android:name="expo.modules.wakequestalarm.AlarmActivity"
      android:exported="false"
      android:excludeFromRecents="true"
      android:launchMode="singleInstance"
      android:showWhenLocked="true"
      android:turnScreenOn="true"
      android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />

    <receiver
      android:name="expo.modules.wakequestalarm.AlarmReceiver"
      android:exported="false" />

    <receiver
      android:name="expo.modules.wakequestalarm.BootReceiver"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
